[class*="col-"] {
	background-color: rgba(0, 195, 170, 0.3);
	border: 2px solid rgba(0, 0, 0, 0.3);
}

.bg {
	background-image: url("./images/clouds.jpg");
	/* Half height */
	height: 20rem; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.app-head {
	text-align: center;
}
.app-title {
	font-size: 1.5rem;
}
.app-balance {
	font-size: 2.2rem;
}












